.edit{
   
    h1{
        color: rgb(170, 170, 82);
        text-align: center;
    }


    p{
       color:rgb(116, 136, 116);
       text-align: center;
    }
    background-image: url(C:\Users\amits\OneDrive\Desktop\Tutorial-WebApplication\frontend\Tutorial-app-frotend\tutorial-app\src\Images\240_F_445707107_elptpcI7pUDPa9kMdnX9e3506QdHfo7r.jpg);
}



